VITE_API_BASE_URL=http://localhost:8000
VITE_CAPTCHA_PROVIDER=recaptcha
VITE_CAPTCHA_ENABLED=false
VITE_CAPTCHA_SITE_KEY=
VITE_TURNSTILE_SITE_KEY=
VITE_BANK_TRANSFER_ACCOUNT_NAME=Csikós Nándor EV.
VITE_BANK_TRANSFER_ACCOUNT_NUMBER=1040 1983 5052 7054 8669 1006
VITE_BANK_TRANSFER_BANK_NAME=K&H
